.App {
  text-align: center;
}

.textColor { 
  color: orange;
}

.button{
  background-color: rgb(255, 80, 0);
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px; 
}

.inputText {
  background-color: rgb(206, 206, 206);
  border: black;
  border-radius: 20px;
  outline: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  width: 350px;
  height: 35px; 
  
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 225, 168);
}